.form {
  &__input {
    display: block;
    margin-bottom: 16px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    color: #292929;
    background-color: #f8f8fa;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 14px 16px;
    border: 1px solid #f8f8fa;
    height: 48px;
    transition: all 0.3s;
    width: 100%;

    &--textarea {
      height: 148px;
      resize: none;
    }

    &::placeholder {
      color: #7e7e83;
    }

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid #292929;
    }
  }
}
