@use '../utils/mixins';

.header {
  background-image: url(/src/images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh; // fallback
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    vertical-align: middle;

    @include mixins.on-tablet {
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include mixins.on-tablet {
      padding-bottom: 65px;
    }
  }
}
