@use '../utils/mixins';

.product {
  line-height: 140%;

  &__photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 24px;
    cursor: pointer;

    @include mixins.hover(transform, scale(1.1));
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
  }

  &__description {
    @include mixins.space-mono-font;

    font-size: 16px;
    margin: 0;
    margin-bottom: 12px;

    @include mixins.on-desktop {
      min-height: 88px;
    }
  }

  &__price {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
  }
}
