@use '../utils/mixins';

.top-bar {
  padding-block: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mixins.on-tablet {
    padding-block: 32px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;
    width: 125px;
    transition: transform 0.3s;

    @include mixins.hover(transform, scale(1.2));

    @include mixins.on-tablet {
      height: 24px;
      width: 172px;
    }
  }
}
